<div class="pt-4 pb-4 footer-wrapper-top">
  <div class="container">
    <p class="footer-font-top">
      Are you looking for assistance with construction of your aquatic project?
    </p>
    <p class="footer-font-top">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ullam
      rerum consequatur, labore earum voluptate quos illo totam harum at
      voluptatum sapiente, dolorum alias. Neque voluptatibus reiciendis
      laudantium ducimus aspernatur!
    </p>
    <a
      class="btn btn-primary footer-button-link-top"
      href="{% url 'contact_us' %}"
      role="button"
      >Let's talk about your project</a
    >
  </div>
</div>

<div class="footer-wrapper-bottom">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 footer-row-wrapper-bottom">
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="footer-title-font-bottom">Telephone #</p>
            <p class="footer-body-font-bottom">
              (+63) 09123456789<br />(+63) 09123456789
            </p>
          </div>
          <div class="col">
            <p class="footer-title-font-bottom">Email Address</p>
            <p class="footer-body-font-bottom">
              sample_email.gmail.com<br />sample_email.gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="footer-title-font-bottom">Telephone #</p>
            <p class="footer-body-font-bottom">
              (+63) 09123456789<br />(+63) 09123456789
            </p>
          </div>
          <div class="col">
            <p class="footer-title-font-bottom">Email Address</p>
            <p class="footer-body-font-bottom">
              sample_email.gmail.com<br />sample_email.gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="vertical-line"></div>

    <div class="footer-icons-main-wrapper-bottom">
      <div class="footer-icons-child-wrapper-bottom">
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-facebook-f circle-icons"></i
          ></a>
        </div>
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-twitter circle-icons"></i
          ></a>
        </div>
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-instagram circle-icons"></i
          ></a>
        </div>
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-youtube circle-icons"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-child-end-wrapper">
      <p class="footer-child-end-font">
        Salt and Ions Water Treatment System<br />Copyright © 2021, All rights
        reserved.
      </p>
    </div>
  </div>
</div>

<a class="scroll-up-wrapper" href="#">
  <div class="scroll-up-circle-wrapper">
    <i class="fas fa-chevron-up scroll-up-icon"></i>
  </div>
</a>
