<div class="pt-4 pb-4 footer-wrapper-top">
  <div class="container">
    <p class="footer-font-top">
      Are you looking for assistance with construction of your aquatic project?
    </p>
    <p class="footer-font-top">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ullam
      rerum consequatur, labore earum voluptate quos illo totam harum at
      voluptatum sapiente, dolorum alias. Neque voluptatibus reiciendis
      laudantium ducimus aspernatur!
    </p>
    <a
      class="btn btn-primary footer-button-link-top"
      href="{% url 'contact_us' %}"
      role="button"
      >Let's talk about your project</a
    >
  </div>
</div>

<div class="footer-wrapper-bottom-first">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 footer-row-wrapper-bottom">
      <div class="col">
        <div class="row">
          <div class="col">
            <p class="footer-title-font-bottom">QUICK LINKS</p>
            <p class="footer-body-font-bottom">
              <a class="footer-quick-links" href="">Company Profile</a><br/>
              <a class="footer-quick-links" href="">Projects</a><br/>
              <a class="footer-quick-links" href="">Services/Products</a><br/>
              <a class="footer-quick-links" href="">Contact Us</a><br/>
              <a class="footer-quick-links" href="">Login</a>
            </p>
          </div>
          <div class="col">
            <p class="footer-title-font-bottom">LOCATION</p>
            <p class="footer-body-font-bottom">
              1055 Mahayahay Bankal,<br/>Lapu-Lapu city
            </p>
            <p class="footer-title-font-bottom">TELEPHONE</p>
            <p class="footer-body-font-bottom">
              (+63) 09123456789<br />(+63) 09123456789
            </p>
            <p class="footer-title-font-bottom">EMAIL ADDRESS</p>
            <p class="footer-body-font-bottom">
              saltandions2021@gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <p class="footer-title-font-bottom">ABOUT US</p>
        <p class="footer-body-font-bottom">
          Salt and Ions Water Treatment System was organized by the undersigned in 2005 in Cebu City. 
          A duly organized company, Salt an Ions Water Treatment System is a proprietorship owned and 
          operated by MR. Cornelio Balmaceda III.
        </p>


      </div>
    </div>
  </div>
</div>

<div class="footer-wrapper-bottom-second">
  <div class="container">

    <!-- <div class="vertical-line"></div> -->

    <div class="footer-icons-main-wrapper-bottom">
      <div class="footer-icons-child-wrapper-bottom">
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-facebook-f circle-icons"></i
          ></a>
        </div>
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-twitter circle-icons"></i
          ></a>
        </div>
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-instagram circle-icons"></i
          ></a>
        </div>
        <div class="smedia-icon">
          <a class="circle-my-icon-a" href=""
            ><i class="fab fa-youtube circle-icons"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="footer-child-end-wrapper">
      <p class="footer-child-end-font">
        Salt and Ions Water Treatment System<br />Copyright © 2021, All rights
        reserved.
      </p>
    </div>

  </div>
</div>

<a class="scroll-up-wrapper" href="#">
  <div class="scroll-up-circle-wrapper">
    <i class="fas fa-chevron-up scroll-up-icon"></i>
  </div>
</a>
