{% extends 'base.html' %} {% load static %} {% block content %}
<!-- code place here-->

<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
  <div class="card-img-overlay main-banner-overlay-wrapper">
    <div class="container-fluid carousel-floating-text">
      <p class="card-text main-banner-title-font">
        Salt and Ions - Water Treatment System
      </p>
      <p class="card-text main-banner-title-font-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ullam
      rerum consequatur
      </p>

      <div class="main-banner-button-wrapper">
        <a class="btn btn-primary main-banner-button-link" href="{% url 'contact_us' %}" role="button">Contact Us
          Now!</a>
      </div>
    </div>
  </div>
  <div class="carousel-inner">
    {% for carousel_image in carousel %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ carousel_image.carousel_image.url }}" class="d-block w-100 carousel-image" alt="{{ carousel_image.carousel_name.url }}">
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <div class="carousel-icon-wrapper">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <div class="carousel-icon-wrapper">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Landing page level 2 -->
<div class="container">
  <div class="pt-4 pb-4">
    <h2 class="metropolis-title-font">Sample text</h2>
    <p class="second-main-banner-body-font">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ullam
      rerum consequatur, labore earum voluptate quos illo totam harum at
      voluptatum sapiente, dolorum alias. Neque voluptatibus reiciendis
      laudantium ducimus aspernatur!
    </p>
  </div>
</div>

<!-- Landing page level 3 -->
<div class="center-div-color">
  <div class="container">
    <h2 class="metropolis-center-title">Some of our Projects</h2>
    <div class="row row-cols-2">
      {% for front_image in front_obj %}
      <div class="col border p-1">
        <a href="{% url 'projects:project_detail' pk=front_image.front_main.pk %}">
          <div class="card landing-page-cards-div img-hover-zoom">
            <div class="img-wrapper">
              <img src="{{ front_image.front_image.url }}"
                class="card-img-top landing-page-cards-image" alt="landing-card-image" />
              <h4 class="appearing-text">More {{ front_image.front_name }}</h4>
            </div>
            <div class="card-img-overlay landing-page-img-div-overlay">
              <p class="card-text landing-page-cards-font">{{ front_image.front_name }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>

<!-- More Projects -->
<div class="more-projects-wrapper container">
  <p class="more-projects-text">Want to see more projects? click</p>
  <a class="more-projects-button" href="{% url 'main_app:project_list' %}">More Projects <i class="far fa-arrow-alt-circle-right"></i> </a>
</div>

<!-- Products -->
<div class="products-wrapper">
  <div class="container">
    <h2 class="metropolis-center-title">Our Products</h2>

    <div class="row row-cols-3">
      {% for product in product_items %}
      <div class="col-6 col-md-4 border p-1">
        <div class="card products-card-wrapper">
          <img src="{{ product.project_image.url }}" class="card-img-top product-image" alt="{{ product.product_name }}">
          <div class="card-body product-card-body">
            <p class="card-text product-title">{{ product.product_name }}</p>
            <p class="card-text product-text">{{ product.product_description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
    
  </div>
</div>

<!-- More Projects -->
<div class="more-projects-wrapper container">
  <p class="more-projects-text">Want to see more products? click</p>
  <a class="more-projects-button" href="{% url 'products' %}">More Products <i class="far fa-arrow-alt-circle-right"></i> </a>
</div>

<!-- Video area -->
<div class="video-wrapper-main">
  <div class="container video-wrapper-container">
    <h2 class="metropolis-center-title">Sample Video</h2>
    
    <div class="container px-1">
      <div class="row gx-1">
        <div class="col-12 col-lg-4">
         <div class="p-3 border">
           <p class="video-title-font">Video Title</p>
           <p class="video-text-font">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, veritatis et quia cumque nisi vitae ipsa assumenda, alias animi repudiandae iure? Laborum corrupti accusamus, accusantium eligendi consequuntur cupiditate aspernatur quidem.</p>
         </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="p-1 border">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/RCn0R8WjV0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/RCn0R8WjV0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
    <!-- <div class="card text-white video-wrapper">
      <video class="video-num-01 card-img" src="{% static 'video/video_new_1.mp4' %}" muted loop autoplay></video>
      <div class="card-img-overlay video-card-img-overlay">
        <h1 class="card-title video-title-font">Insert Title Here:</h1>
        <p class="card-text video-text-font">
          This is a wider card with supporting text below<br> 
          as a natural lead-in to additional content.<br>
          This content is a little bit longer.</p>
      </div>
    </div> -->
  </div>
</div>

<!-- Other Achievements -->
<!-- <div class="pt-4 pb-4 other-achievements-wrapper">
  <div class="container">
    <h2 class="metropolis-title-font">Other Achievements</h2>

    <div class="row row-cols-2 row-cols-md-4">
      <div class="col landing-page-image-div-2 img-hover-zoom">
        <div class="img-wrapper">
          <img src="{% static 'images/website-images/city-sports-club/csc-1.jpg' %}" class="img-fluid"
            alt="img-sample" />
        </div>
      </div>

      <div class="col landing-page-image-div-2">
        <img src="{% static 'images/website-images/skimmer-type pools/skimmer-4.jpg' %}" class="img-fluid"
          alt="img-sample" />
      </div>
      <div class="col landing-page-image-div-2">
        <img src="{% static 'images/website-images/waterfalls/waterfall-1.jpg' %}" class="img-fluid" alt="img-sample" />
      </div>
      <div class="col landing-page-image-div-2">
        <img src="{% static 'images/website-images/lagoon-type-pool\Lito Garcia Pool A-2.jpg' %}" class="img-fluid"
          alt="img-sample" />
      </div>
    </div>
  </div>
</div> -->


<!-- FOOTER -->
{% include 'footer.html' %} {% endblock content %}