{% extends 'base.html' %} {% load static %} {% block content %}

<div class="card bg-dark child-banner-wrapper">
    <div class="child-banner-black-wrapper">
        <img class="child-banner-image card-img" src="{% static 'images/website-images/vanishing-edge/edge-10.jpg' %}"
            alt="front-image" />
    </div>
    <div class="card-img-overlay child-banner-font-wrapper">
        <div class="container child-banner-font-wrapper-container">
            <h1 class="card-text child-banner-title-font">Company Profile</h1>
        </div>
    </div>
</div>

<div class="container child-body-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bread bread-font">
            <li class="breadcrumb-item">
                <a href="{% url 'landing_page' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Company Profile
            </li>
        </ol>
    </nav>

    <p class="about-body-font-beggin">
        Salt and Ions Water Treatment System was organized by the undersigned in
        2005 in Cebu City. A duly organized company, Salt an Ions Water Treatment
        System is a proprietorship owned and operated by MR. Cornelio Balmaceda III.
    </p>

    <!-- Vertical Line -->
    <div class="vertical-line"></div>

    <div class="about-body-wrapper">
        <p class="about-body-font">
            Mr. Cornelio Balmaceda III had been in the swimming pool business since
            1974, and started with Marina Pools Inc., where it served as its
            Construction Manager and later on as its President.
        </p>
        <p class="about-body-font">
            In 1985, Mr. Cornelio E. Balmaceda III, organized the family own swimming
            pool business known as Patricor Construction Inc. named after his children
            PATRICIA, TRICIA AND CORNELIO IV.
        </p>
        <p class="about-body-font">
            In the year 2005, of its incorporated opted to settle in the abroad thus
            PATRICOR ceased its operations. That same year, the undersigned then
            organized Salt an Ions Water Treatment System named after two gadgets for
            swimming pool water treatment namely SALT CHLORINATOR and IONIZER.
        </p>
        <p class="about-body-font">
            Mr. Balmaceda had also attended swimming pool seminars and conventions in
            Australia and the United States. He also attend the Water Park Convention
            in Florida and Beijing, China several years ago.
        </p>
        <p class="about-body-font">
            We have lost count on the number of swimming pools we have constructed,
            however one of the more popular projects that we undertook was the
            construction of the J Park Water Park formerly known as Imperial Palace
            Water Park located in Maribago, Mactan, Lapu-Lapu City and presently J
            Park Panglao Island Resort.
        </p>
        <p class="about-body-font">
            With our vast experiences and technical knowledge in swimming pool and
            water park construction, we can assure you of the best quality service and
            workmanship. We take care of our clients and we are proud to say that we
            extend our services and assistance even after completion of our project.
        </p>
        <p class="about-body-font">
            In 2009, we were commissioned by Family Fun pools owned by Mr. Scott Cook
            to exclusively sell/install their “UNIWALL” product here in the country.
            The Uniwall is made of fiberglass sheet. It comes is 120m to 200m rolls,
            and is manufactured in Cleveland Ohio USA. It comes in five [5] different
            colors and can be installed between 5– 7 days depending on the pool
            size/area.
        </p>
        <p class="about-body-font">
            The present we are constructing the waterpark in J Park Panglao Island
            Resort located is Panglao, Bohol. It will be using the “Uniwall”
            fiberglass walls.
        </p>
        <p class="about-body-font">
            The BUMPER BOAT at Snow World located in Minglanilla, Cebu and owned by
            Anjo World made use the “Uniwall” fiberglass walls and was recently
            completed. The projects can be inspected upon request.
        </p>
        <p class="about-body-font">
            In using the Uniwall fiberglass walls, the following are its advantages
            over concrete Pool:
        </p>
        <ul class="about-ul">
            <li class="about-body-font about-list-design">
                <div class="about-list-space">
                    <p class="about-list-p">a.</p>
                </div>
                <p class="about-list-p">
                    Structure Design. Light weight and advantage on upper floor pools.
                </p>
            </li>
            <li class="about-body-font about-list-design">
                <div class="about-list-space">
                    <p class="about-list-p">b.</p>
                </div>
                <p class="about-list-p">Minimal concrete requirements</p>
            </li>
            <li class="about-body-font about-list-design">
                <div class="about-list-space">
                    <p class="about-list-p">c.</p>
                </div>
                <p class="about-list-p">Light material compared to concrete</p>
            </li>
            <li class="about-body-font about-list-design">
                <div class="about-list-space">
                    <p class="about-list-p">d.</p>
                </div>
                <p class="about-list-p">
                    Faster installation from 1– 2 weeks unlike concrete walls
                </p>
            </li>
            <li class="about-body-font about-list-design">
                <div class="about-list-space">
                    <p class="about-list-p">e.</p>
                </div>
                <p class="about-list-p">
                    Uniwalls are pre finished. No repairs, no waterproofing, formworks
                    required
                </p>
            </li>
            <li class="about-body-font about-list-design">
                <div class="about-list-space">
                    <p class="about-list-p">f.</p>
                </div>
                <p class="about-list-p">
                    Concrete flooring can be concreted separately
                </p>
            </li>
        </ul>

        <p class="about-body-font">
            The Uniwall comes in rolls between 150m – 200m. Its uniform width is 1.20.
        </p>
        <p class="about-body-font">
            A living example of the Uniwall quality is the J Park Mactan Water Park.
            It had been existing for almost 10 years without any repairs. It was able
            to survive the big earthquake in Cebu several years ago.
        </p>
        <p class="about-body-font">
            At present, we had been commissioned by the J Park Resort to undertake the
            construction of their water park facilities and several swimming pools. We
            have started with the 12 plunge pools for the Ocean Villas and 24 pools
            for their Family Villas. The project however is temporarily suspended due
            to the pandemic.
        </p>

        <!-- Clock with Date -->
        <!-- <div class="about-date-wrapper">
            <div class="clock-wrapper">
                <i class="far fa-clock"></i>
            </div>
            <p class="about-date-font">2018</p>
        </div> -->

        <p class="about-body-font">
            In July 2018, another company PLAVA VODA, located in Perrelos, Carcar City
            was formed with partnership with MR. WILSON BALMACEDA. This company deals
            more with the sales of swimming pools equipment and chemicals, offers
            consulatncy, and repairs.
        </p>

        <!-- Signature/Owner -->
        <div class="about-end-div">
            <p class="about-end-font-title">Very Truly Yours,</p>
            <p class="about-end-font-body">
                Cornelio Balmaceda III<br />
                Proprietor – Salt and Ions Water Treatment System<br />
                Managing Partner – Plava Voda
            </p>
        </div>
    </div>
</div>

{% include 'footer.html' %} {% endblock content %}